<div class="flex h-screen bg-gray-100">
  <!-- Sidebar -->
  <div class="w-64 bg-gray-900 text-white flex flex-col">
    <div class="p-2 text-2xl font-medium text-center border-b border-gray-700">
      <a routerLink="/">
        <img src="/assets/logo.png" alt="Logo" srcset="">
      </a>
    </div>
    <ul  class="mt-6 space-y-2 flex-1">
      <li routerLinkActive="bg-teal-500" class="group">
        <a routerLink="/clientes" class="flex items-center px-4 py-2 space-x-3 transition-colors duration-200 transform hover:bg-gray-700">
          <i class="fa-solid fa-users"></i>
          <span>Clientes</span>
        </a>
      </li>
      <li routerLinkActive="bg-teal-500" class="group">
        <a routerLink="/productos" class="flex items-center px-4 py-2 space-x-3 transition-colors duration-200 transform hover:bg-gray-700">
          <i class="fas fa-box"></i>
          <span>Productos</span>
        </a>
      </li>
      <li routerLinkActive="bg-teal-500" class="group">
        <a routerLink="/cotizaciones" class="flex items-center px-4 py-2 space-x-3 transition-colors duration-200 transform hover:bg-gray-700">
          <i class="fas fa-file-invoice-dollar"></i>
          <span>Cotizaciones</span>
        </a>
      </li>
      <li routerLinkActive="bg-teal-500" class="group">
        <a routerLink="/remisiones" class="flex items-center px-4 py-2 space-x-3 transition-colors duration-200 transform hover:bg-gray-700">
          <i class="fas fa-shipping-fast"></i>
          <span>Remisiones</span>
        </a>
      </li>
    </ul>
    <div class=" border-t border-gray-700">
      <a href="#" class="flex items-center space-x-3 p-4 hover:bg-slate-800">
        <i class="fas fa-sign-out-alt"></i>
        <span>Logout</span>
      </a>
    </div>
  </div>
  
  <!-- Main Content -->
  <div class="flex flex-col flex-1 w-full">
    <!-- Header -->
    <header class="flex items-center justify-between p-3 bg-gray-300 shadow">
      <div class="text-2xl font-medium text-gray-700">
        {{title}}
      </div>
      <div class="flex items-center space-x-4">
        <i class="fas fa-bell text-gray-500"></i>
        <img class="w-10 h-10 rounded-full" src="https://via.placeholder.com/150" alt="User avatar">
      </div>
    </header>
    
    <!-- Router Outlet -->
    <main class="flex-1 p-6 bg-gray-100">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
<app-toast></app-toast>
<app-loading></app-loading>