<!-- product-form.component.html -->
<div class="container mx-auto p-8 z-40 relative bg-gray-100">
    <h2 class="text-lg font-semibold text-gray-900 mb-4">Crear Remision</h2>
    <button class="absolute top-2 right-2 text-gray-600 hover:text-gray-800" aria-label="Cerrar" (click)="close(false)">
        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
        </svg>
    </button>
    <form [formGroup]="remisionForm" (ngSubmit)="onSubmit()" class="space-y-4">
        <div class="flex justify-center">
            <div class="flex-col flex w-full">
                <label for="ordenCompra" class="text-sm font-medium text-gray-700">Orden de compra</label>
                <div class="relative mt-1">
                    <input type="text" id="codigo" formControlName="ordenCompra"
                        class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                        [ngClass]="{ 'border-red-500': remisionForm.controls['ordenCompra'].invalid && remisionForm.controls['ordenCompra'].touched }">
                    <div *ngIf="remisionForm.controls['ordenCompra'].invalid && remisionForm.controls['ordenCompra'].touched"
                        class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
                        <i class="fas fa-exclamation-circle text-red-500"></i>
                    </div>
                </div>
                <div *ngIf="remisionForm.controls['ordenCompra'].invalid && remisionForm.controls['ordenCompra'].touched"
                    class="text-red-500 text-xs mt-1">Orden de compra es requerido.
                </div>
            </div>

        </div>
        <div class="flex justify-center">
            <button type="submit" [disabled]="!remisionForm.valid"
                class="px-4 py-2 bg-green-600 text-white rounded-md mt-4 disabled:bg-gray-400">Crear
                Remisión</button>
        </div>
    </form>
</div>